body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ccb9b9;
  color: #fff;
}
#root {
  width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #15172b;
}
form > label > input {
  height: 40px;
  border-radius: 0;
  border: none;
  padding: 5px 20px;
  border-radius: 12px;
  width: 280px;
  background: #303245;
  color: #fff;
}
.error {
  float: left;
  width: 100%;
  margin: 0 0 10px;
  color: red;
}
.success{
  color: rgb(75, 181, 67);
}
input[type="submit"], #root button {
  background: #08d;
  color: #222;
  border: none;
  padding: 8px 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  border-radius: 12px;
  padding: 18px 10px;
  color: #fff;
}
form > label {
  margin: 0 0 10px;
  float: left;
  width: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}